<%= div_for(comment) do %>
    <div class="comments_wrapper clearfix">
      <div class="pull-left">
        <p class="lead"><%= comment.body %></p>
        <p><small>Создан <strong><%= time_ago_in_words(comment.created_at) %> назад</strong>, автор: <span class="username"><%= comment.user.name %></span></small></p>
      </div>

      <div class="btn-group pull-right">
        <% if comment.user == current_user -%>
            <%= link_to 'Удалить', comment, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
<% end %>